<div class="main-page">
  <mat-card class="welcome-page-card">
    <mat-card-header class="welcome-page-header">
      <mat-card-title class="welcome-page-title">
      
        Welcome to myFlix</mat-card-title
      >
      
    </mat-card-header>
    <mat-card-actions class="welcome-page-actions">
      <button
        class="welcome-page-button"
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px"
        color="primary"
      >
        <mat-icon>how_to_reg</mat-icon> Sign up
      </button>

      <button
        class="welcome-page-button"
        mat-raised-button
        (click)="openUserLoginDialog()"
        color="primary"
      >
        <mat-icon>login</mat-icon> Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
