$backgroundColor: #3A3845;
$cardColor: #F7CCAC;
$textColor: #191919;
$boxShadowColor: #826F66;

.user-profile-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 30px 40px;
    background-color: $backgroundColor;
}

.user-profile-card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 10px 5px 5px $boxShadowColor;
    background-color: $cardColor;
}

.user-profile-card-header {
    margin-bottom: 20px;
    color:$textColor;
    display: flex;
    justify-content: center;
}

.user-profile-card-content {
    color: $textColor;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}