$backgroundColor: #3A3845;
$cardColor: #F7CCAC;
$textColor: #191919;
$boxShadowColor: #826F66;

.login-button {
    background-color: $backgroundColor;
}

.user-login-card {
    background-color: $cardColor;
    margin-top: 0px;
    box-shadow: none;
}

.user-login-card > mat-card-header {
    display: flex;
    justify-content: center;
}

.mat-card-header {
    color: $textColor;
    padding-bottom: 10px;
}

::ng-deep .login-custom > mat-dialog-container {
    background-color: $cardColor;
}

.user-login-form-field {
    color: $textColor;
} 

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $textColor !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $textColor !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: $textColor !important;;
  }